.listing-deatils-page,
.listing-details-img-box {
  position: relative;
}

.listing-details-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.listing-details-text-on-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 100%);
  padding: 0 25px 30px;
  box-sizing: border-box;
}

.listing-details-text-on-image > div {
  display: flex;
  align-items: center;
}

.listing-details-text-on-image-user {
  background-color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-details-text-on-image-user-text {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.listing-details-text-on-image-user-text h3 {
  margin: 13px 0 5px;
}

.listing-details-text-on-image-user-text .star-ratings {
  margin-bottom: 10px;
}

.listing-details-text-on-image-user svg {
  fill: rgb(48, 48, 48);
}

.listing-details-text-on-image-pricing {
  flex-direction: column;
  justify-content: center;
}

.listing-details-text-on-image-pricing div {
  font-size: 24px;
}

.listing-details-text-on-image-pricing p {
  margin: 0;
  font-size: 14px;
  color: rgb(193, 193, 193);
}

.listing-details-body {
  padding: 10px 50px;
}

.listing-details-body h4 {
  font-weight: 400;
}

.listing-details-body p {
  font-size: 15px;
  color: rgb(92, 92, 92);
}

.listing-details-favourite {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.listing-details-favourite button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(255, 75, 4);  
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  transition: all ease-out 0.3s;
}

.listing-details-favourite button:hover {
  cursor: pointer;
  background-color: rgb(224, 66, 3);
}

.listing-details-favourite button:focus {
  outline: none;
}
