.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.logo {
  text-decoration: none;
  color: rgb(148, 148, 148);
}

.logo:hover h2 {
  color: rgb(92, 92, 92);
}

.bars-menu {
  font-size: 20px;
  color: rgb(148, 148, 148);
}

.navbar-signup,
.navbar-signin {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 12px;
  border-radius: 20px;
  transition: all ease-out 0.3s;
}

.navbar-signup:hover,
.navbar-signin:hover {
  background-color: rgba(255, 255, 255);
  color: black;
}
